html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div#board {
    width: 1076px;
    height: 768px;
    position: relative;
    background-image: url("../images/board.jpg");   
    margin-top:10px;
}
hr.clear {
    clear: both;
}
div.token {
    position: absolute;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

div#messages {
    display:inline;
    width:60%;
    height:100px;
    overflow-y:auto;
    overflow-wrap:break-word;
    float:left;
}

#infoContainer {
    display:inline;
    width:100%;
    background-color:red;
}

#dice1 {
    float:left;
    margin:0 10px;
    width:100px;
    height:100px;
}
#dice2 {
    float:left;
    margin: 0 10px;
    width: 100px;
    height: 100px;
}